In [2]:
from faker import Faker
import pandas as pd

fake = Faker()
data = []
for _ in range(1000):
    data.append({
        'id': fake.uuid4(),
        'name': fake.name(),
        'email': fake.email(),
        'transaction_date': fake.date_this_decade(),
        'amount': fake.random_number(digits=5)
    })
df = pd.DataFrame(data)
df.to_csv('fake_data.csv', index=False)

In [3]:
df = pd.read_csv('fake_data.csv')
df

,id,name,email,transaction_date,amount
0,37f31c8c-6d29-46bd-9b03-a54ed0bca1de,Sharon Lee,kaustin@example.com,2022-07-24,38042
1,69e63887-895b-41bd-a42c-cef38621e434,Jeremy Stone,patrick78@example.net,2020-07-22,15025
2,a7e737d9-1c4d-457c-b41d-6d18ec8d07c6,Kimberly Adams,wkim@example.net,2023-09-24,24577
3,6a2d8158-ca37-4e62-9d61-c0db91f02c3c,Rebecca Herring,wellspeter@example.net,2022-02-15,66434
4,fb65c94b-50ff-4ec8-8500-9e57c75593ed,Deborah Castillo,trevorgraham@example.com,2021-11-05,25942
...,...,...,...,...,...
995,7f7797a3-a83d-45ee-823f-ca9326aa192f,Barbara Cameron,jason56@example.net,2020-01-19,85038
996,177db219-1112-47d8-90f6-0a74043bab32,Kevin Williams,william78@example.net,2024-03-11,26423
997,2d0deee7-dec3-4958-a215-b814f6331207,Tonya Young,leonardhuff@example.net,2022-06-23,10817
998,0f3a401c-2822-4762-98ce-ae7eed2d49a0,Nicholas Moreno,derek23@example.com,2020-11-26,99636
999,fad1a8fe-9971-4ae2-90ab-23f042859047,Susan Lloyd,gail95@example.net,2020-11-20,9835